@model IEnumerable<BiggerBasket.Models.Product>

@{
    ViewData["Title"] = "CustomerView";
    
}

<h1>Search Result</h1>


<table class="table">
    <thead>
        <tr>
           
            <th>
                Product Name
            </th>
            <th>
                Unit Price
            </th>
            <th>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
        
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
               <img src="~/css/@item.ProductImage" alt="no data" height="100" width="100"/>


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
          
            
        </tr>
}
    </tbody>
</table>

