
@model BiggerBasket.Models.OrderMaster

@{
    ViewData["Title"] = "Get Payment";
}

<h1>Get Payment</h1>

<h4>Enter Payment Details</h4>
<hr />
@if (ViewBag.ErrorMessage!=null)
{
    <div class="text-danger">@ViewBag.ErrorMessage</div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="GetPayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="OrderMasterId"  />
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label">Card Number</label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountPaid" class="control-label">Amount </label>
                <input asp-for="AmountPaid" class="form-control" />
                <span asp-validation-for="AmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="OrderDate"/>
            </div>
            <div class="form-group">
                <label asp-for="total" class="control-label">Total </label>
                 <label asp-for="total" class="form-control" >@Model.total</label>
                 <input asp-for="total" hidden  />
            </div >
            <div  class="form-group">
                 <input type="hidden" asp-for="CustomerId"/>
            </div>
            
            <div class="form-group">
               
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

